header{
    background-color: rgb(166, 166, 199);
    color: rgb(64, 34, 236);    
    font-size: 10px;
    
}
body{
    background-color: rgb(220, 102, 243);
}
.titulo{
    text-align: center;
    
}